 RUGOGAMU NOELA   COMPANY PROJECT ANALYSIS

1. IMPORTING REQUIRED PACKAGES

In [3]:
import pandas as pd #For handling data
import numpy as np # For calculations and operations
import seaborn as sns # For creation of beautiful visualisations
import matplotlib.pyplot as plt #For easy customisation of plots and graphs

2. LOADING THE DATASET

In [6]:
#Importing the dataset
df = pd.read_excel('Companies - Analysis.xlsx', engine = 'openpyxl')

3. UNDERSTANDING THE DATASET

In [ ]:
#Viewing the first 5 rows of the dataset
df.head()

,Date of Registration,Company Type,Unnamed: 2,Registration Status,Country Of Incorporation,Nominal Share Capital,Number Of Shares,Re Registration Date,Last Year Company Filed Returns
0,2023-05-22 10:11:24.692,single-member-company,NaN,Registered,Uganda,5000000.0,100.0,NaT,2024.0
1,2023-04-13 08:39:42.952,private-company-limited-by-shares,NaN,Registered,NaN,2000000.0,100.0,NaT,2024.0
2,2025-02-13 07:19:01.993,private-company-limited-by-guarantee-without-s...,NaN,Registered,Uganda,NaN,NaN,NaT,0.0
3,2025-01-29 11:07:40.697,private-company-limited-by-guarantee-without-s...,NaN,Registered,Uganda,NaN,NaN,NaT,0.0
4,2023-05-17 09:55:27.838,private-company-limited-by-shares,NaN,Registered,Uganda,2000000.0,100.0,NaT,NaN

In [ ]:
#viewing the shape of the data
df.shape

(134338, 9)

In [ ]:
#Viewing te data types in the data
df.dtypes

Date of Registration               datetime64[ns]
Company Type                               object
Unnamed: 2                                float64
Registration Status                        object
Country Of Incorporation                   object
Nominal Share Capital                     float64
Number Of Shares                          float64
Re Registration Date               datetime64[ns]
Last Year Company Filed Returns           float64
dtype: object

In [ ]:
#viewing the column names
df.columns

Index(['Date of Registration', 'Company Type', 'Unnamed: 2',
       'Registration Status', 'Country Of Incorporation',
       'Nominal Share Capital', 'Number Of Shares', 'Re Registration Date',
       'Last Year Company Filed Returns'],
      dtype='object')

In [12]:
#displaying the datatypes and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134338 entries, 0 to 134337
Data columns (total 9 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Date of Registration             134338 non-null  datetime64[ns]
 1   Company Type                     134338 non-null  object
 2   Unnamed: 2                       0 non-null       float64
 3   Registration Status              134338 non-null  object
 4   Country Of Incorporation         125870 non-null  object
 5   Nominal Share Capital            110498 non-null  float64
 6   Number Of Shares                 110498 non-null  float64
 7   Re Registration Date             1 non-null       datetime64[ns]
 8   Last Year Company Filed Returns  126716 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(3)
memory usage: 9.2+ MB

3. IDENTIFYING AND HANDLING MISSING VALUES

In [14]:
#Identifying the number of null values in each column
df.isna().sum()

Date of Registration                    0
Company Type                            0
Unnamed: 2                         134338
Registration Status                     0
Country Of Incorporation             8468
Nominal Share Capital               23840
Number Of Shares                    23840
Re Registration Date               134337
Last Year Company Filed Returns      7622
dtype: int64

In [15]:
# Since the column we're dropping has no column title we are gonna use it's index to identify it
df1 = df.drop(df.columns[2],axis=1)

In [16]:
#confirming that the column has been dropped
df1.head()

,Date of Registration,Company Type,Registration Status,Country Of Incorporation,Nominal Share Capital,Number Of Shares,Re Registration Date,Last Year Company Filed Returns
0,2023-05-22 10:11:24.692,single-member-company,Registered,Uganda,5000000.0,100.0,NaT,2024.0
1,2023-04-13 08:39:42.952,private-company-limited-by-shares,Registered,NaN,2000000.0,100.0,NaT,2024.0
2,2025-02-13 07:19:01.993,private-company-limited-by-guarantee-without-s...,Registered,Uganda,NaN,NaN,NaT,0.0
3,2025-01-29 11:07:40.697,private-company-limited-by-guarantee-without-s...,Registered,Uganda,NaN,NaN,NaT,0.0
4,2023-05-17 09:55:27.838,private-company-limited-by-shares,Registered,Uganda,2000000.0,100.0,NaT,NaN

In [ ]:
#We're gonna work on the Country of Incorporation column next and this is a categorical value. 
#So we're gonna fill in the missing values using the mode of the column
df1['Country Of Incorporation']