 RUGOGAMU NOELA   COMPANY PROJECT ANALYSIS

1. IMPORTING REQUIRED PACKAGES

In [3]:
import pandas as pd #For handling data
import numpy as np # For calculations and operations
import seaborn as sns # For creation of beautiful visualisations
import matplotlib.pyplot as plt #For easy customisation of plots and graphs

2. LOADING THE DATASET

In [6]:
#Importing the dataset
df = pd.read_excel('Companies - Analysis.xlsx', engine = 'openpyxl')

3. UNDERSTANDING THE DATASET

In [7]:
df.head()

,Date of Registration,Company Type,Unnamed: 2,Registration Status,Country Of Incorporation,Nominal Share Capital,Number Of Shares,Re Registration Date,Last Year Company Filed Returns
0,2023-05-22 10:11:24.692,single-member-company,NaN,Registered,Uganda,5000000.0,100.0,NaT,2024.0
1,2023-04-13 08:39:42.952,private-company-limited-by-shares,NaN,Registered,NaN,2000000.0,100.0,NaT,2024.0
2,2025-02-13 07:19:01.993,private-company-limited-by-guarantee-without-s...,NaN,Registered,Uganda,NaN,NaN,NaT,0.0
3,2025-01-29 11:07:40.697,private-company-limited-by-guarantee-without-s...,NaN,Registered,Uganda,NaN,NaN,NaT,0.0
4,2023-05-17 09:55:27.838,private-company-limited-by-shares,NaN,Registered,Uganda,2000000.0,100.0,NaT,NaN